@import './mixins';
button {
	cursor: pointer;
}
.custom-select {
	position: relative;
	margin-top: 0;
	margin-bottom: 10px;
	width: 130px;
	.select-btn {
		border-radius: 5px;
		background-color: #333;
		color: white;
		border: none;
		padding: 8px 16px;
		width: 100%;
	}
	.options-container {
		z-index: 1;
		position: absolute;
		display: flex;
		width: 100%;
		background: #333;
		@include scrollbars(4px, #555, #333);
		border-radius: 5px;
		margin-top: 10px;
		flex-direction: column;
		overflow: hidden;
		overflow-y: scroll;
		height: 150px;
	}
	.option {
		width: 100%;
		background-color: transparent;
		color: white;
		border: none;
		text-align: center;
		padding: 8px 16px;
		border-bottom: 1px solid #888;
	}
}

@media (min-width: 768px) {
	.custom-select {
		width: 200px;
		.select-btn {
			border-radius: 10px;
			padding: 10px 16px;
			width: 100%;
			font-size: 18px;
		}
		.options-container {
			height: 200px;
			@include scrollbars(8px, #555, #333);
		}
		.option {
			font-size: 16px;
		}
	}
}
@media (min-width: 1200px) {
	.custom-select {
		width: 250px;
		.select-btn {
			border-radius: 10px;
			padding: 15px 20px;
			width: 100%;
			font-size: 24px;
		}
		.options-container {
			height: 200px;
			@include scrollbars(10px, #555, #333);
		}
		.option {
			font-size: 18px;
		}
	}
}
