*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 340px;
	margin: 30px auto;
	min-height: 600px;
	border: 1px solid black;
	padding: 30px;
	border-radius: 5px;
	box-shadow: 2px 2px 4px gray;
}

.header {
	font-size: 31px;
	text-align: center;
	margin-bottom: 20px;
}
.select-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: space-between;
}

p {
	text-align: center;
}
.p-info {
	font-weight: bold;
	margin-top: 10px;
}
@media (min-width: 768px) {
	.header {
		font-size: 40px;
	}
	.container {
		max-width: 500px;
		min-height: 600px;
		border: 1px solid black;
		padding: 30px;
		border-radius: 5px;
		box-shadow: 2px 2px 4px gray;
	}
	.select-container {
		margin-bottom: 20px;
	}
	p {
		font-size: 18px;
		text-align: center;
	}
	.p-info {
		font-weight: bold;
		margin-top: 10px;
	}
}
@media (min-width: 1200px) {
	.header {
		font-size: 50px;
		margin-bottom: 50px;
	}
	.container {
		max-width: 900px;
		min-height: 600px;
		border: 1px solid black;
		padding: 50px 90px;
		border-radius: 5px;
		box-shadow: 2px 2px 4px gray;
	}
	.select-container {
		margin-bottom: 50px;
		justify-content: space-evenly;
	}
	p {
		font-size: 24px;
		text-align: center;
	}
	.p-info {
		font-weight: bold;
		margin-top: 10px;
	}
}
