*,
::before,
::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.container {
	max-width: 360px;
	margin: 30px auto;
	// overflow: auto;
	min-height: 300px;
	border: 1px solid black;
	padding: 30px;
	border-radius: 5px;
	box-shadow: 2px 2px 4px gray;
}

.header {
	// width: 100%;
	font-size: 31px;
	text-align: center;
	margin-bottom: 20px;
}
.select-container {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: space-between;
}

.p-info {
	// font-size: 20px;
	margin-bottom: 10px;
}
